@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    overflow: hidden;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: hidden;  
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    ~webkit-overflow-scrolling: touch;
    perspective: 1px;
}

button { 
    border: none;
    background-color: white;
}

button:focus {
    outline:0;
}

.contactinfo {
    color:#D0D0D0;
    list-style-type: none;
}

.contactinfo a {
    text-decoration: none;
    color: #D0D0D0;
}

.burger {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 100px;
    text-align: center;
    color: black;
    height: 266px;
    width: 297px;
    margin: 0 auto;
    background:url(../images/bounce5.svg) 0 0 / 297px 1593px no-repeat;
    -webkit-animation: burger 1s steps(6) infinite alternate;
    animation: burger 1s steps(6) infinite alternate;
    overflow: hidden;
}

.animation {
    margin: 0 auto;
}

.section {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: #5E5E5E;
}

.sectionm {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;
}

.pastebox {
    position: relative;
    padding: none;
}

.hidesmall {
        display: none;
}

.artists {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: #5E5E5E;
    text-align: center;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
position: absolute;
bottom: 1em;
}

.toggle {
    width: 60px;
}

.box a {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    text-decoration: none;
    color: white;
}

.box a:hover {
    background-color: white;
    color: red;
}

.box {
  height: 200px;
  top: calc(50% - 50px);
  width: 200px;
  color: white;
  text-decoration: none;
  background-color: red;
  transition: all 250ms linear;
  opacity: 0; 
  position: absolute;
  top: 4em;
  left: 1.5em;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.toggleul {
    list-style-type: none;
    padding-top: 1em;
    padding-left: 0;
    margin: 0;
}

.toggleli {
    padding-left: 0;
}

.js-show-hide {
    opacity: 1;
}

.panel {
    width: 100%;
}

.pics {
    width: 100%;
    padding: none;
}

.motion {
    background-image: url(../images/motionshot.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: none;
    height: 300px;
}

.motiontext {
    color: white;
    background-color: rgba(0,0,0,.5)
}

.motiontext a {
    text-decoration: none;
    color: white;
}

.pastes {
    background-color: white;
}

.voodoo {
    background-color: white;
    margin-bottom: : 3em;
}

.charm1 {
    width: 260px;
    height: 260px;
    background-image: url(../images/icecream.gif);
    background-repeat: no-repeat;
    background-size: 260px 260px;
}

.charm1:hover {
    background-color: white;
    transition: all 1000ms linear;
    background-image: url(../images/icecreamshadow.gif);
}

.charm2 {
    width: 260px;
    height: 260px;
    background-image: url(../images/airjordan.gif);
    background-repeat: no-repeat;
    background-size: 260px 260px;
}

.charm2:hover {
    background-color: white;
    background-image: url(../images/airjordanshadow.gif);
    transition: all 1000ms linear;
}

.charm3 {
    width: 260px;
    height: 260px;
    background-image: url(../images/donut.gif);
    background-repeat: no-repeat;
    background-size: 260px 260px;
}

.charm3:hover {
    background-color: white;
    background-image: url(../images/donutshadow.gif);
    transition: all 1000ms linear;
}

.charm4 {
    width: 260px;
    height: 260px;
    background-image: url(../images/fortune.gif);
    background-repeat: no-repeat;
    background-size: 260px 260px;
}

.charm4:hover {
    background-color: white;
    background-image: url(../images/fortuneshadow.gif);
    transition: all 1000ms linear;
}

.contact {
    background-color: #404040;
    height: 600px;
}

.arrow {
    text-align: center;
    width: 30px;
    margin: 0 auto;
    -webkit-animation: arrow 6s infinite ease-in-out alternate;
    animation: arrow 6s infinite ease-in-out alternate;   
}

.arrow2 {
    text-align: center;
    width: 30px;
    margin: 0 auto;
    -webkit-animation: arrow 6s infinite ease-in-out alternate;
    animation: arrow 6s infinite ease-in-out alternate;   
}

.arrow:hover {
    background-color: white;
    opacity: 0.5;
    transition: all 1000ms linear
}

@-webkit-keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -1593px;}
}

@keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -1593px;}
}

@-webkit-keyframes arrow {
    0% {-webkit-transform: translate(0);}
    100% {-webkit-transform: translateY(60px);}
}

@keyframes arrow {
    0% {transform: translate(0);}
    100% {transform: translateY(60px);}
}

.center {
    text-align: center;
    margin: 0 auto;
}

hidden {
    display: non;
}

.tabs li {
    display: inline-block;
}

.circlepic {
    background:url(../images/circle.svg) no-repeat;
    width: 30px;
    height: 30px;
    padding: 3px;
    display: block;
}

.js-current {
    background-image:url(../images/circleoutline.svg);
}

.mustard {
    -webkit-animation: mustardmove 12s infinite ease-in-out;
    animation: ship 12s infinite ease-in-out;
}

.ketchup {
    -webkit-animation: mustardmove 12s infinite ease-in-out;
    animation: ship 12s infinite ease-in-out;
}

@-webkit-keyframes mustardmove {
    0% {-webkit-transform: translate(0);} 
    20%{-webkit-transform: translateX(400px);}
    40%{-webkit-transform: translateY(200px);}
    60%{-webkit-transform: translateY(100px);}
    80%{-webkit-transform: translateX (300px);}
    100%{-webkit-transform: translateY(100px);}
}

@keyframes mustardmove {
    0% {transform: translate(0);} 
    20%{transform: translateX(400px);}
    40%{transform: translateY(200px);}
    60%{transform: translateY(100px);}
    80%{transform: translateX (300px);}
    100%{transform: translateY(100px);}
}

#drop {
    animation: bob-head 1s ease alternate infinite;
}


#kdrop {
    animation: bob-head 1s ease alternate infinite;
}


@-webkit-keyframes bob-head{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150px);
    }
}

@keyframes bob-head{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150px);
    }
}


@media only screen and (min-width:35em) {

    
.hidesmall {
        display: block;
}
.hidelarge {
        display: none;
}
.panel {
    width: 100%;
    margin: 0;
}

.pics {
    width: 100%;
    margin: 0;
}  
    
.burger {
    height: 532px;
    width: 594px;
    -webkit-animation: burger 1s steps(6) infinite alternate;
    animation: burger 1s steps(6) infinite alternate;
    background:url(../images/bounce5.svg) 0 0 / 594px 3186px no-repeat;
}
    
@-webkit-keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -3186px;}
}

@keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -3186px;}
}
 
.arrow {
    text-align: center;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: arrow 6s infinite ease-in-out alternate;
    animation: arrow 6s infinite ease-in-out alternate;
}

.arrow:hover {
    background-color: white;
    opacity: 0.5;
    transition: all 1000ms linear
}
   
@-webkit-keyframes arrow {
    0% {-webkit-transform: translate(0);}
    100% {-webkit-transform: translateY(60px);}
}

@keyframes arrow {
    0% {transform: translate(0);}
    100% {transform: translateY(60px);}
}
    
figure {
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
  left: 30%;
  position: absolute;
  bottom: 3em;
}
    
.charm1 {
    width: 220px;
    height: 220px;
    background-image: url(../images/icecream.gif);
    background-repeat: no-repeat;
    background-size: 220px 220px;
    
}

.charm2 {
    width: 220px;
    height: 220px;
    background-image: url(../images/airjordan.gif);
    background-repeat: no-repeat;
    background-size: 220px 220px;
}

.charm3 {
    width: 220px;
    height: 220px;
    background-image: url(../images/donut.gif);
    background-repeat: no-repeat;
    background-size: 220px 220px;
}

.charm4 {
    width: 220px;
    height: 220px;
    background-image: url(../images/fortune.gif);
    background-repeat: no-repeat;
    background-size: 220px 220px;
}

    .motion {
    background-image: url(../images/motionshot.jpg);
    margin: 0 auto;
    padding: none;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
}

  
}

@media only screen and (min-width:50em) {

.motion {
    background-image: url(../images/motionshot.jpg);
    margin: 0 auto;
    padding: none;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
}

 .panel {
    width: 100%;
    margin: 0 auto;
}

.pics {
    width: 100%;
    margin: 0 auto;
}   
}

@media only screen and (min-width: 80em) {
   
    .charm {
    width: 90%;
}
  
    
}
