@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.burger {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 100px;
    text-align: center;
    color: black;
    height: 266px;
    width: 297px;
    margin: 0 auto;
    background:url(../images/bounce5.svg) 0 0 / 297px 1593px no-repeat;
    -webkit-animation: burger 1s steps(6) infinite alternate;
    animation: burger 1s steps(6) infinite alternate;
}

.animation {
    margin: 0 auto;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
position: absolute;
bottom: 1em;
}

.toggle {
    width: 60px;
}

.toggle:hover {
    background-color: white;
    opacity: 0.25;
    transition: all 1000ms linear
}

.arrow {
    text-align: center;
    width: 30px;
    margin: 0 auto;
    -webkit-animation: arrow 6s infinite ease-in-out alternate;
    animation: arrow 6s infinite ease-in-out alternate;   
}

.arrow:hover {
    background-color: white;
    opacity: 0.5;
    transition: all 1000ms linear
}

@-webkit-keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -1593px;}
}

@keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -1593px;}
}

@-webkit-keyframes arrow {
    0% {-webkit-transform: translate(0);}
    100% {-webkit-transform: translateY(60px);}
}

@keyframes arrow {
    0% {transform: translate(0);}
    100% {transform: translateY(60px);}
}

.center {
    text-align: center;
    margin: 0 auto;
}


@media only screen and (min-width:35em) {

.burger {
    height: 532px;
    width: 594px;
    -webkit-animation: burger 1s steps(6) infinite alternate;
    animation: burger 1s steps(6) infinite alternate;
    background:url(../images/bounce5.svg) 0 0 / 594px 3186px no-repeat;
}
    
@-webkit-keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -3186px;}
}

@keyframes burger {
    0% {background-position: 0 0;}
    100% {background-position: 0 -3186px;}
}
 
.arrow {
    text-align: center;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: arrow 6s infinite ease-in-out alternate;
    animation: arrow 6s infinite ease-in-out alternate;
}

.arrow:hover {
    background-color: white;
    opacity: 0.5;
    transition: all 1000ms linear
}
   
@-webkit-keyframes arrow {
    0% {-webkit-transform: translate(0);}
    100% {-webkit-transform: translateY(60px);}
}

@keyframes arrow {
    0% {transform: translate(0);}
    100% {transform: translateY(60px);}
}
    
figure {
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
  left: 30%;
  position: absolute;
  bottom: 3em;
}
  
}

@media only screen and (min-width:50em) {
    
   
}

@media only screen and (min-width: 80em) {
   
    
}
